<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>member_mail.html</title>
		<link rel="stylesheet" href="./css/member_mail.css">
		<link rel="stylesheet" href="./css/aside.css">
		<link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css" />
		<script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>

		<script src="https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc"></script>

	</head>
	<body>

		<div class="aside">
			<img src="./images/logo.png" alt="">
			<ul>
				<li class="bian"><a href="redirect?page=manager_mail">用户信息</a></li>
				<li class="bubian"><a href="redirect?page=manager_setting">个人中心</a></li>
			</ul>
		</div>
		<div class="head"></div>
		<div class="main">

			<form class="layui-form">
				<table class="layui-table">
					<colgroup>
						<col width="150">
						<col width="200">
						<col>
					</colgroup>
					<thead>
						<tr>
							
							<th>账号</th>
							<th>手机号</th>
							<th>密保问题</th>
							<th>密保答案</th>
							<th>注册时间</th>
							<th>邮件总数</th>

						</tr>
					</thead>
					<tbody id="member-info">
						
						
					</tbody>
				</table>
			</form>


			<script src="https://www.layuicdn.com/layui/layui.js"></script>



			<script type="text/javascript" src="./js/manager_mail.js"></script>

	</body>
</html>
